body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Rolagem suave */
}

header {
    background: #2d3e50;
    padding: 20px;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    background: white;
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    border-left: 5px solid #2d3e50;
    padding-left: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #aaa;
}

th {
    background: #2d3e50;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
}

button {
    background: #2d3e50;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background: #2d3e50;
    color: white;
    margin-top: 40px;
    border-radius: 5px 5px 0 0;
}